/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.#*
/todo.org
debug/*
resources/public/js/bridge.js
resources/public/cljs
resources/azondi.edn
/src/clojure/azondi/menu_views.clj.bak
/src/clojure/azondi/website.clj.bak
/src/logo.cljs.bak
*.DS_Store
/visualgo.png
